.cast-body h2{
    margin-bottom: 10px;
    margin-left: 10%;
}
.cast-card {
    margin:5px;
    display: flex;
    flex-direction: column;
    
    transition: transform 450ms;
    object-fit: contain;
    padding:10px 0;
}
.cast-card:hover {
    transform:scale(1.08) ;
    opacity: 1;
}
.cast-content {
    display: flex;
    align-items: center;
    overflow-x:scroll;
    overflow-y:hidden;
    width: 80%;
    margin:10px auto;
}
.cast-content::-webkit-scrollbar {
    display:none;
}
.cast-card .name, .cast-card .character{
    font-size: 12px;
    font-weight: 600;
}
.cast-card img {
    height: 150px;
    width: 100px;
    border-radius: 10px;
}

.cast-body .btn  {
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.less {
    display: none;
}
.more, .less {
    background-color: transparent;
    border:1px solid lightgray;
    border-radius: 10px;
    color: white;
    padding:4px 12px;
}